@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding:0
}
.buttonnn
{
	background-color: red;
}
.textborder{
	border-left: solid thick rgba(46,36,170,1.00);
}
.banner1 img{
	height: 40px;
	margin:20px;
}
.navbar img{
	height:70px;
}
.banner2{
	height: 500px;
}